<% subscriptions.each do |subscription| %>
  <ul style='display: flex; justify-content: space-between; width: 500px; list-style: none;'>
    <li><%= subscription.stripe_id %></li>
    <li><%= subscription.status %></li>
  </ul>
<% end %>
