<% subscriptions.each do |subscription| %>
  <ul style='display: flex; justify-content: space-between; width: 500px;'>
    <li><%= subscription.stripe_id %></li>
    <li><%= subscription.status %></li>
    <% if subscription.status == 'unpaid' %>
      <%= button_to "Pay Invoice", pay_invoice_subscription_path(subscription), method: :post, remote: true, class: "btn btn-primary" %>
    <% end %>
    <% if subscription.status == 'paid' %>
      <%= button_to "Cancel Subscription", cancel_subscription_subscription_path(subscription), method: :post, remote: true, class: "btn btn-danger" %>
    <% end %>
  </ul>
<% end %>
